<template>
  <div class="container-fluid" id="app">
    <nav>
      <v-toolbar color="#4E52F9" dark dense fixed>
        <v-menu mode="out-in" offset-y full-width dark absolute transition="slide-y-transition" attach="#app">
          <v-toolbar-side-icon class="hidden-md-and-up" slot="activator"></v-toolbar-side-icon>
          <v-list>
            <v-list-tile>
              <router-link to="/">
                <v-list-tile-title>Home</v-list-tile-title>
              </router-link>
            </v-list-tile>
            <v-list-tile>
              <router-link to="/News">
                <v-list-tile-title>News</v-list-tile-title>
              </router-link>
            </v-list-tile>
          </v-list>
        </v-menu>
        <router-link to="/">
          <v-toolbar-title>Cryptocurrency App</v-toolbar-title>
        </router-link>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down">
          <v-btn flat to="/">Home</v-btn>
          <v-btn flat to="/News">News</v-btn>
        </v-toolbar-items>
      </v-toolbar>

    </nav>


    <!--Rendering the componenets will be here-->
    <router-view/>
  </div>

</template>
<script>
    import { mapState } from 'vuex'

    export default {
        name: 'App',
        computed: mapState([
            'nightMode'
        ])
    }
</script>

<style lang="scss">
  body {
    font-family: 'Roboto';
    padding-top: 2.75rem;
  }
  .v-menu__content {
    top: 3.35rem !important;
    left: 0 !important;
    width: 100vw;
    max-width: 100%;
    .v-list {
      background: #4E52F9;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
  .router-link-active {
    text-decoration: none;
    color: inherit;
  }
</style>