<script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1709_RC01/embed_loader.js"></script> <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"ethereum","geo":"","time":"today 1-m"}],"category":0,"property":""}, {"exploreQuery":"date=today%201-m&q=ethereum","guestPath":"https://trends.google.com:443/trends/embed/"}); </script>
<template>
    <v-app :dark="this.nightMode">
      <v-card>
        <v-card-title>
          <v-switch :label="nightmodeLabel" @change="toggleNightMode()" :value="this.nightMode" :input-value="this.nightMode" color="#4E52F9"></v-switch>
          <v-spacer></v-spacer>
          <v-text-field
                  v-model="search"
                  append-icon="search"
                  label="Search"
                  hide-details
                  class="search-field"
                  color="#4E52F9"
          ></v-text-field>
        </v-card-title>
        <v-data-table :headers="headers" :items="coins" :search="search" :rows-per-page-items="[10]" disable-initial-sort>
          <template slot="items" slot-scope="props">
            <!--<tr class="table-row" @click="openDialog(props.item.CoinInfo.Name)">-->
            <tr class="table-row">
              <td>
                <img :src="'http://cryptocompare.com/'+props.item.CoinInfo.ImageUrl"  :alt="props.item.CoinInfo.FullZZName" class="coin-img">
                {{ props.item.CoinInfo.Name }}
              </td>
              <td>
                {{ props.item.CoinInfo.FullName }}
              </td>
              <td class="text-xs-center">{{ props.item.DISPLAY.USD.PRICE }}</td>
              <td class="text-xs-center">{{ props.item.DISPLAY.USD.MKTCAP }}</td>
              <td class="text-xs-center">{{ props.item.DISPLAY.USD.TOTALVOLUME24HTO }}</td>
              <td class="text-xs-center"
                  :class="{'descending': props.item.RAW.USD.CHANGEPCT24HOUR < 0, 'ascending': props.item.RAW.USD.CHANGEPCT24HOUR > 0}"
                  >
                {{ props.item.DISPLAY.USD.CHANGEPCT24HOUR }}%
              </td>
              <td class="text-xs-center"
                  :class="{'descending': (((props.item.RAW.USD.HIGHHOUR / props.item.RAW.USD.LOWHOUR ) -1) * 100) < 0, 'ascending': (((props.item.RAW.USD.HIGHHOUR / props.item.RAW.USD.LOWHOUR ) -1) * 100) > 0}"
                 >
                {{ (((props.item.RAW.USD.HIGHHOUR / props.item.RAW.USD.LOWHOUR ) -1) * 100).toFixed(2) }}%
              </td>
              <td class="text-xs-center">
                {{ ((props.item.RAW.USD.TOTALVOLUME24HTO / props.item.RAW.USD.MKTCAP) * 100).toFixed(2) }}%
              </td>
            </tr>
          </template>
        </v-data-table>
        <v-dialog v-model="dialog" @input="v => v || closeDialog()" max-width="90%">
          //TODO: chart here
        </v-dialog>
      </v-card>
    </v-app>
</template>

<script>
    import axios from 'axios';
    import { mapState } from 'vuex'

    export default {
        name: 'home',
        data: () => ({
            currency: 'USD',
            coins: [],
            errors: [],
            headers: [
                {
                    text: "Slug",
                    value: "CoinInfo.Name"
                },
                {
                    text: "Name",
                    value: "CoinInfo.FullName"
                },
                {
                    text: "Price",
                    value: "RAW.USD.PRICE"
                },
                {
                    text: "Market Cap",
                    value: "RAW.USD.MKTCAP"
                },
                {
                    text: "24h Volume",
                    value: "RAW.USD.TOTALVOLUME24HTO"
                },
                {
                    text: "24h Change",
                    value: "RAW.USD.CHANGEPCT24HOUR"
                },
                {
                    text: "1h Change",
                    value: "",
                    sortable: false
                },
                {
                    text: "24h Vol / Market Cap",
                    value: "",
                    sortable: false
                },
            ],
            dialog: false,
            activeDialogCoin: 'btc',
            socialData: '',
            search: '',
            nightmodeLabel: 'Nightmode'
        }),
        methods: {
            getData() {
                axios.get('https://min-api.cryptocompare.com/data/top/mktcapfull?limit=100&tsym=USD')
                    .then(response => {
                        this.coins = response.data.Data;
                    })
                    .catch(e => {
                        this.errors.push(e)
                    })
            },
            openDialog(coin){
                this.activeDialogCoin = coin;
                this.dialog = true;
            },
            closeDialog(){
                this.dialogIframeSrc = '';
            },
            toggleNightMode() {
                this.$store.commit('toggleNightMode');
            }
        },
        created () {
            this.getData();
            setInterval(this.getData, 60000);

        },
        computed: mapState([
            'nightMode'
        ])
    }
</script>

<style lang="scss">
  .text-xs-center {
    text-align: center;
  }
  .descending {
    color: #F44336;
  }
  .ascending {
    color: #00C853;
  }
  .coin-img {
      width: 1.5rem;
      margin-right: 1rem;
      transform: translateY(6px);
  }
  .v-dialog {
    background: white;
    height: 80vh;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  .search-field {
    max-width: 25%;
    @media (max-width: 768px) {
      max-width: 100%;
    }
  }
</style>
