<template>
    <v-app :dark="this.nightMode">
        <v-container fluid grid-list-md text-xs-center>
            <v-layout justify-center row wrap>
                <v-flex v-for="item in news" xs12 md4 mb-2>
                    <v-card hover :href="item.guid">
                        <v-card-media :src="item.imageurl" height="175px" max-height="175px"></v-card-media>
                        <div class="v-card-content">
                            <v-card-title>
                                <h2>
                                    {{item.title}}
                                </h2>
                            </v-card-title>

                            <v-card-text v-html="item.body">
                            </v-card-text>
                        </div>
                        <!--<v-card-actions>-->
                            <!--<v-btn icon><v-icon>bookmark</v-icon></v-btn>-->
                            <!--<v-btn icon><v-icon>thumb_up</v-icon></v-btn>-->
                            <!--<v-btn icon><v-icon>thumb_down</v-icon></v-btn>-->
                        <!--</v-card-actions>-->
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </v-app>
</template>

<script>
    import axios from 'axios';
    import { mapState } from 'vuex'

    export default {
        name: 'news',
        data: () => ({
            news: [],
            errors: []
        }),
        created () {
            axios.get('https://min-api.cryptocompare.com/data/v2/news/?lang=EN')
                .then(response => {
                    this.news = response.data.Data
                })
                .catch(error => {
                    this.errors.push(error)
                })
        },
        computed: mapState([
            'nightMode'
        ])
    }
</script>

<style lang="scss" scoped>
    .v-card {
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        padding-bottom: 0.5rem;
    }
    .v-card-content {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
</style>
